<div id="index">
  <div>
    <a href="gallery/new">+ New Photo</a>
  </div>
  <div class="container">
    {{#each photos}}
      <div class="photo" data-photoId= "{{@index}}">
        <a href="/gallery/{{id}}">
          <img src="{{link}}" alt="{{description}}">
        </a>
        <h1>By {{author}}</h1>
        <p>{{description}}</p>
      </div>
    {{/each}}
  </div>
</div>