<div id="index">
  {{#each photos}}
    <div class="photo">
      <a href="/gallery/{{id}}">
        <img src="{{link}}" alt="{{description}}">
      </a>
      <h2>{{author}}</h2>
      <a class="link" href="{{link}}">{{link}}</a>
    </div>
  {{/each}}
</div>