{{!-- {{#each photos}} --}}
  <div class="photo">
    <h1>By {{author}}</h1>
    <a href="{{id}}">
      <img src="{{link}}" alt="{{description}}">
    </a>
    <p>{{description}}</p>
  </div>
{{!-- {{/each}} --}}