{{#if updated}}
<h1>Updated!</h1>
{{/if}}
<a href="/gallery">Back to Gallery</a>
<div class="container">
  <div class="photo">
      <img src="{{link}}" alt="{{description}}">
    <h1>By {{author}}</h1>
    <p>{{description}}</p>
    <h2>Source:</h2>
    <a href="{{link}}">{{link}}</a>
  <div>
  <div class="side-bar">
    {{#each photos}}
      <div class="photo" data-photoId= "{{@index}}">
          <img src="{{link}}" alt="{{description}}">
        <h1>By {{author}}</h1>
        <p>{{description}}</p>
        <h2>Source:</h2>
        <a href="{{link}}">{{link}}</a>
      <div>
    {{/each}}
  </div>
</div>
<div class="container">
  <a href="{{id}}/edit"><button>Edit</button></a>
  {{!-- rework delete to throw confirmation before deletion --}}
  <form method="POST" action="/gallery/{{id}}">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete</button>
  </form>
</div>