{{#if updated}}
<h1>Updated!</h1>
{{/if}}
<a href="/gallery">Back to Gallery</a>
<div id="details">
  {{!-- <div class="photo">
    <h2>{{author}}</h2>
    <a href="{{link}}">{{link}}</a>
    <img src="{{link}}" alt="{{description}}">
  <div> --}}
    {{#each photos}}
      <div class="photo">
          <img src="{{link}}" alt="{{description}}">
        <h2>{{author}}</h2>
        <a class="link" href="{{link}}">{{link}}</a>
      </div>
    {{/each}}
</div>
<div class="container">
  <a href="{{id}}/edit"><button>Edit</button></a>
  {{!-- rework delete to throw confirmation before deletion --}}
  <form method="POST" action="/gallery/{{id}}">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete</button>
  </form>
</div>