{{#if updated}}
<h1>Updated!</h1>
{{/if}}
  <div class="container">
    <a class="return-button" href="/gallery">Back to Gallery</a>
  </div>
<div id="details">
  {{#each photos}}
    <div class="photo">
      <a href="/gallery/{{id}}">
        <img src="{{link}}" alt="{{description}}">
      </a>
      <h1>{{author}}</h1>
      <a href="{{link}}">{{link}}</a>
      <div class="controls">
        <a id="editButton" href="{{id}}/edit"><button>Edit</button></a>
        {{!-- rework delete to throw confirmation before deletion --}}
        <form id="deleteButton" method="POST" action="/gallery/{{id}}" enctype="application/x-www-form-urlencoded">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button" type="submit">Delete</button>
        </form>

      </div>
    </div>
  {{/each}}
</div>